.Detail{
    width: 100vw; 
}

.Detail .detail-container{
    display: flex; 
    flex-direction: column; 
    gap: 40px; 
    height: 60vh; 
}

.Detail .btn-secondary{
    max-width: 100px; 
    width: 120px; 
    transition: 0.2s ease; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.Detail .btn-secondary:hover{
    background-color: #ffb743;
    color: #fff; 
}

.Detail .button-section{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}