/* 공통 변수 및 초기화 */
/* :root {
  --side-bg: #1e293b;
  --main-bg: #f1f5f9;
  --primary: #2563eb;
  --secondary: #8b5cf6;
  --white: #ffffff;
  --border: #e2e8f0;
  --text: #1e293b;
  --text-light: #64748b;
} */

:root {
  --primary: #6366f1; /* 세련된 인디고 블루 */
  --secondary: #a855f7; /* 보라색 포인트 */
  --bg-main: #f8fafc;
  --card-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
  --border: #e2e8f0;
  --text-dark: #1e293b;
  --text-gray: #64748b;
  --radius: 16px;
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}



