/* 공통 변수 및 초기화 */
:root {
  --side-bg: #1e293b;
  --main-bg: #f1f5f9;
  --primary: #2563eb;
  --secondary: #8b5cf6;
  --white: #ffffff;
  --border: #e2e8f0;
  --text: #1e293b;
  --text-light: #64748b;
}

*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}



